PORT=3000
MONGODB_CONNECTION_URI=connection_string

CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAIL_USER=
MAIL_PORT=587
MAIL_HOST=smtp.ethereal.email
MAIL_PASSWORD=

API_KEY_ID=
SENDGRID_API_KEY=
MAIL_FROM=

JWT_SECRET_KEY=
